---
layout: layout
---

<% if(is_home()){ %>
<style>

    .post-preview {
      background-size:0 0;
    }

    @media (max-width: 991px){
      .custom-haojen-container /*.post-preview:nth-of-type(1) > a*/ {
        padding-top: 110px;
      }
    }
    @media (min-width: 768px){
      .post-preview-img{
        display: none;
      }
    }
    @media (max-width: 768px) {
      .post-preview:nth-of-type(1) {
        background-size:auto;
      }
      .custom-haojen-container .post-preview:nth-child(1) .post-content-preview{
        display: none;
      }
      .custom-haojen-container .post-preview:nth-child(1) h2,
      .custom-haojen-container .post-preview:nth-child(1) .post-meta,
      .custom-haojen-container .post-preview:nth-child(1) .post-subtitle {
          /*text-shadow: 0 0 40px rgba(0, 0, 0, 1);*/
          text-align:center;
          background-color: rgba(0,128,0,0.7);
          letter-spacing: 1px;
          color: #fff;
          margin-top: 0;
          margin-bottom: 0;

          padding-left: 60px;
          padding-right: 60px;
      }
        .custom-haojen-container .post-preview:nth-child(1) {
          /*background-position: center 0;
          background-repeat: no-repeat;
          background-size: contain;*/
          /*height: 465px;*/
          position: relative;
        }

        .custom-haojen-container .post-preview-poetry:nth-child(1) h2 {
            font-size: 28px !important;
            margin-top: 0;
        }

        .custom-haojen-container .post-preview:nth-child(1) .post-subtitle {
            font-size: 18px;
            font-weight: 400;
            padding-left: 0;
            padding-right: 0;
        }

        .custom-haojen-container /*.post-preview:nth-of-type(1) > a*/ {
            padding: 65px 20px 20px 20px;
        }
        .custom-haojen-container .post-preview:nth-child(1) .post-preview-detail {
          position: absolute;
          width: 100%;
          left: 0px;
          bottom: 0px;
          height: 44px;
          display: inline;
        }
    }

    /*手机屏幕*/
    @media (max-width: 400px) {
      .post-preview:nth-of-type(1) {
        background-size:auto;
      }
      .custom-haojen-container .post-preview:nth-child(1) .post-content-preview{
        display: none;
      }
      .custom-haojen-container .post-preview:nth-child(1) h2,
      .custom-haojen-container .post-preview:nth-child(1) .post-meta,
      .custom-haojen-container .post-preview:nth-child(1) .post-subtitle {
          /*text-shadow: 0 0 40px rgba(0, 0, 0, 1);*/
           background-color: rgba(0,128,0,0.7);
          letter-spacing: 1px;
          color: #fff;
          margin-top: 0;
          margin-bottom: 0;

          padding-left: 60px;
          padding-right: 60px;
      }
        .custom-haojen-container .post-preview:nth-child(1) {
            position: relative;
            /*height: 245px;
            background-position: center 0;
            background-repeat: no-repeat;
            background-size: contain ;*/
        }

        .custom-haojen-container .post-preview-poetry:nth-child(1) h2 {
            font-size: 20px !important;
        }

        .custom-haojen-container .post-preview:nth-child(1) .post-subtitle {
            font-size: 16px;
        }

        .custom-haojen-container .post-preview:nth-child(1) a {
            padding: 30px 20px;
        }
        .custom-haojen-container .post-preview:nth-child(1) .post-preview-detail {
          position: absolute;
          width: 100%;
          left: 0px;
          bottom: 0px;
          height: 44px;
          display: inline;
        }
    }
</style>
<% } %>
<!-- Page Header -->
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 visible-xs-block visible-sm-block">
    <div class="row">
        <header class="intro-header" style="display:none">
            <div class="container">
                <div class="site-heading text-center">
                    <div class="about-me">
                        <!--移动端头部显示-->
                        <img src="/images/avatar.jpg"/>
                        <h5><a href="<%= config.root %>about/"><%= config.author %></a></h5>
                        <p>
                        知咖啡，你的每日咖啡！
                        </p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
<!-- Main Content -->
<div class="container custom-haojen-container">
    <!-- Post Container -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 post-container">
            <%- body %>
        </div>
        <!-- Sidebar Container -->
        <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">

            <!-- About Me -->
            <section class="visible-md visible-lg" style="padding: 0 18px">
                <div class="short-about">
                    <!--侧边栏头像-->

                    <img src="/images/avatar.jpg"/>

                    <h5><a href="<%= config.root %>about/"><%= config.author %></a></h5>

                    <p>
                    知咖啡，你的每日咖啡！
                    </p>

                    <hr>
                    <!-- SNS Link 社交 -->
                    <ul class="list-inline">
                        <% if (config.RSS) { %>
                        <li>
                            <a href="<%= config.root + 'feed.xml' %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>
                        <% if (config.twitter_username) { %>
                        <li>
                            <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>
                        <% if (config.zhihu_username) { %>
                        <li>
                            <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa  fa-stack-1x fa-inverse">知</i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (config.weibo_username) { %>
                        <li>
                            <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (config.facebook_username) { %>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (config.github_username) { %>
                        <li>
                            <a target="_blank" href="https://github.com/<%= config.github_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (config.linkedin_username) { %>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </section>

            <!-- Featured Tags  标签 -->
            <% if(config['featured-tags']) { %>
            <section>
                <div class="tags">
                    <% site.tags.map(function(tag){ %>
                    <% if(tag.length > config['featured-condition-size']) { %>
                    <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"
                       rel="<%= tag.length %>"><%= tag.name %></a>
                    <% } %>
                    <% }) %>
                </div>
            </section>
            <% } %>

            <% if(config.friends) { %>
            <hr>
            <h5 style="text-align: center;">Friends</h5>
            <ul class="list-inline" style="text-align: center;">
                <% config.friends.forEach(function(friend){ %>
                <li><a href="<%= friend.href %>" target="_blank"><%= friend.title %></a></li>
                <% }); %>
            </ul>
            <% } %>

        </div>
    </div>
</div>
